.generate{
  display:flex;
  gap: 20px;
  color: white;
}

.generate-content{
  backdrop-filter: blur(10px); 
  /*border: 1px solid white;*/
  
  border-radius: 20px;
  flex: 1;
  padding: 20px;
  gap: 1.5rem;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./assets/WhatsApp\ Image\ 2025-01-27\ at\ 10.46.51.jpeg) no-repeat center;
  background-size: cover;
  
  filter: grayscale(100);
  z-index: -1;

  
}